@model IEnumerable<My_Restaurant.Models.Restaurant>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- search bar -->
<div class="container search-bar" id="searchBar">
    <div class="search-bar-outer">
        <div class="search-bar-inner">
            @using (Html.BeginForm("Search", "Restaurant"))
            {
                @Html.AntiForgeryToken()
                <h4 class="mb-2">尋找餐廳：</h4>
                <div class="input-group">
                    <input type="text" id="keyword" name="keyword" value="" class="form-control" placeholder="輸入餐廳名稱" aria-label="Restaurant Name..." aria-describedby="search-button" required>
                    <div class="input-group-append">
                        <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-between mb-3">
        <!--新增按鈕-->
        <div class="col-5">
            <input type="button" id="createBtn" class="btn btn-dark col-5" value="新增" 
                   onclick="location.href='@Url.Action("Create", "Restaurant")'" >
        </div>
    </div>

    <hr>

    <!-- restaurant list -->
    <div id="restaurantList">
        @Html.Action("GetPage", "Restaurant")
    </div>

    <!-- --分頁paginator-- -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center  mt-5" id="pagination" data-currentPage="1"></ul>
    </nav>
</div>

@section Scripts{
    <script>
        $('#pagination').twbsPagination({
            totalPages: @ViewBag.totalPages,
            visiblePages: @ViewBag.visiblePages,
            hideOnlyOnePage: true,
            initiateStartPageClick:false,
            onPageClick: function (event, pageNum) {
                $.ajax({
                    url: '@Url.Action("GetPage", "Restaurant")',
                    data: { page: pageNum }, // 傳遞目前頁碼
                        success: function (result) {
                            $('#restaurantList').html(result);
                        },
                        error: function () {
                            alert('讀取失敗');
                        }
                    });
            }
        });
    </script>
}

